.container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 2 rem solid rgb(110, 90, 250);
    justify-content: center;
    border: 2px solid red;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid blue;
}

.answer-container {
    display:flex;
    margin-bottom: 0.5 rem;
    font-size: 1.8 rem;
    width: 85%;
    border: 2rem solid rgba(195, 133, 26, 0.25);
    background-color: white;
    align-items: center;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.9rem 1.5rem 0 rgb(80, 190, 244);
    transform: translateY(-0.1rem);
    transition: transform 160ms;
}

.answer-prefix {
    /* padding: 1.5 rem 2.5 rem; */
    color: black;
    margin: 1.5rem;

}

.answer.text {
    margin: 1.5rem;
    width: 100%;
}