.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.title {
    text-align: center;
    padding: 60rem;
}
.button {
    font-size: 1.2rem;
    text-align:center;
    width: 20rem;
    padding: 3rem;
}